body {
    background-color: black;
    overflow: hidden;
    margin: 0;
}

* {
    transition: all 0.7s cubic-bezier(0.130, 0.570, 0.545, 0.990);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    z-index: 100;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    border: white 1px solid;
    color: black;
}

#control {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 200px;
}

#more {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

/* More container */
.more-container {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 10px 50px 0px;
    border: 1px solid grey;
    padding: 10px;
    transition: 0.5s;
    z-index: 100;
}

.more-container p {
    margin: 0;
    color: rgba(255, 255, 255, 0.700);
}

.more-container a {
    color: white;
}

.more-container a:active {
    border: 1px solid white;
}

.toggle {
    opacity: 1;
}

/* CONTAINERRR */
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: 667px;
    display: flex;
    transition: 1.5s !important;
}

.intro {
    height: 100%;
    position: relative;
    width: 375px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
}

.text p {
    color: white;
    margin: 5px 0;
}

.credit {
    color: rgba(255, 255, 255, 0.596) !important;
}

.card {
    background-size: cover;
    background-position: center;
    width: 0;
}

.c1 {
    background-image: url('./asset/image/1.jpg');
}

.c2 {
    background-image: url('./asset/image/2.jpg');
}

.c3 {
    background-image: url('./asset/image/3.jpg');
}

.c4 {
    background-image: url('./asset/image/4.jpg');
}

.c5 {
    background-image: url('./asset/image/5.jpg');
}

.c6 {
    background-image: url('./asset/image/6.jpg');
}

.c7 {
    background-image: url('./asset/image/7.jpg');
}

.c8 {
    background-image: url('./asset/image/8.jpg');
}

.c9 {
    background-image: url('./asset/image/9.jpg');
}

.c10 {
    background-image: url('./asset/image/10.jpg');
}

.c11 {
    background-image: url('./asset/image/11.jpg');
}

.c12 {
    background-image: url('./asset/image/12.jpg');
}

.c13 {
    background-image: url('./asset/image/13.jpg');
}

.c14 {
    background-image: url('./asset/image/14.jpg');
}

.c15 {
    background-image: url('./asset/image/15.jpg');
}

.c16 {
    background-image: url('./asset/image/16.jpg');
}

.c17 {
    background-image: url('./asset/image/17.jpg');
}

.c18 {
    background-image: url('./asset/image/18.jpg');
}

.c19 {
    background-image: url('./asset/image/19.jpg');
}

.c20 {
    background-image: url('./asset/image/20.jpg');
}

.c21 {
    background-image: url('./asset/image/21.jpg');
}

.c22 {
    background-image: url('./asset/image/22.jpg');
}

.c23 {
    background-image: url('./asset/image/23.jpg');
}

.c24 {
    background-image: url('./asset/image/24.png');
}

.c25 {
    background-image: url('./asset/image/25.jpg');
}

.c26 {
    background-image: url('./asset/image/26.jpg');
}

.c27 {
    background-image: url('./asset/image/27.jpg');
}

.c28 {
    background-image: url('./asset/image/28.jpg');
}

.c29 {
    background-image: url('./asset/image/29.jpg');
}

.c30 {
    background-image: url('./asset/image/30.jpg');
}

.c31 {
    background-image: url('./asset/image/31.jpg');
}

.c32 {
    background-image: url('./asset/image/32.jpg');
}